.friends {

    &__block {
        padding: 5px;
    }
    &__img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    &__link {
        text-decoration: none;
    }
    &__name {
        color: rgb(235, 232, 95);
        font-size: 20px;
    }
}
